{
    "plugins": [
        "transform-runtime",
        "babel-plugin-lodash",
        "transform-object-rest-spread"
    ],
    "presets": [
        "env"
    ],
    "ignore": [
        "test_sls/**/*.js",
        "api_result/**/*.js"
    ]
}